@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.input {
  @apply px-3 py-2  border border-primary shadow bg-secondary  rounded placeholder:text-slate-400;
}

.active {
  @apply bg-primary text-secondary;
}

div:has(> .active) {
  @apply bg-primary text-secondary;
}

.not_started_button {
  @apply bg-red-700 border-red-700 hover:text-red-700;
}

.not_started {
  @apply bg-red-200;
}

.in_progress_button {
  @apply bg-yellow-700 border-yellow-700 hover:text-yellow-700;
}

.in_progress {
  @apply bg-yellow-200;
}

.completed_button {
  @apply bg-green-700 border-green-700 hover:text-green-700;
}

.completed {
  @apply bg-green-200;
}

/* carousel pagination */
div.swiper-pagination {
  position: relative;
  margin-top: 10px;
}
